* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfcfc;
    height: 100vh;
}

#mobileBackground {
    height: 90%vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

#mainContainer {
    position: relative;
    height: 100vh;
}

.mainContainer {
    overflow: hidden;
}

header {
    height: 10%;
    box-shadow: 2px 0px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #031828;
}

#menuList, #menuCollection{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    font-size: 1rem;
    padding-left: 4px;
    filter: invert(1);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

li {
    list-style: none;
    font-size: 1rem;
    padding: 10px;

}

li:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.menulist {
    padding: 10px;
    background-color: #031828;
    /* z-index: 50; */
}

.menuList {
    position: absolute;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: #031828;
    display: none;
}

.menuCollection {
    position: absolute;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: #031828;
    display: none;
    z-index: 2;
}

#searchContainer {
    position: relative; 
}

#searchIcon {
    position: absolute;
    padding-top: 2px;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

#iconsContainer {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userConnect {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

#menuFill {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.menuTransitionLeft {
    position: absolute;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: #031828;
    display: block;
    animation-name: slideLeft;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    color: white;    
    z-index: 1;
}

.menuTransitionRight {
    position: absolute;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: #031828;
    display: block;
    animation-name: slideRight;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    color: white;    
    z-index: 1;
}

.closeButton {
    filter: invert(1);
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.elementsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #031828;
}

.backButton {
    filter: invert(1);
    height: 24px;
    width: 24px;
    margin-top: -2px;
    padding-left: 8px;
    /* visibility: hidden; */

}

#hiddenBackButton {
    visibility: hidden;
}

::placeholder {
    color: white;
    opacity: 1;
}

#searchbar {
    color: white;
    background-color: #031828;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    height: 30px;
}

/* corps de la page */

section {
    padding: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 30px   ;
}

.imgArticleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgArticle {
    width: 100%;

}


/* keyframes animations */

@keyframes slideLeft {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}